In [1]:
print("hello world")

hello world

In [1]:
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))
print("Your name is: ",name)
print("Your are: ",age,"years old")

Please enter your name: Jonathan
Please enter your age: 41
Your name is:  Jonathan
Your are:  41 years old

In [1]:
print (2 + 3)

5

In [2]:
name = ['John', 'Nick', 'Summer', 'June', 'Jack', 'Mike']
name[2:4]

['Summer', 'June']

In [3]:
float(78)

78.0

In [4]:
name_age = {'Jack':20, 'Summer':25, 'June':30}
for i in name_age:
  print(i)

Jack
Summer
June

In [7]:
my_tuple = (34, 20, 60.7, 4, 66, 1)
sorted(my_tuple)

[1, 4, 20, 34, 60.7, 66]